$green: #a1cf77;
$blue: #3D3598;
$red: #FF0000;
$trans: all 0.3s ease-in-out;
$a_hover_color: #B09670;
$input_placeholder: #C4C4C4;

$accent: #fff; 
$fontsize: 16px; 
$textcolor: #333; 
$font_title: Montserrat, sans-serif; 
$font_text: Montserrat, sans-serif; 