.header-wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	color: #fff;
	position: relative;
	.button {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		display: none;
		padding: 8px 10px;
		@include md-after {
			& {
				display: flex;
			}
		}
	}
	.add-subject {
		position: absolute;
		left: 0;
		top: 50%;
		transform: translateY(-50%);
		width: 24px;
		@include md-after {
			& {
				display: none;
			}
		}
	}
}

.header {
	background: #3D3598;
	border-bottom: 1px solid #2E2785;
	box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.12);
	padding: 15px 0;
	transition: $trans;
	opacity: 0;
	z-index: -1;
	position: fixed;
	left: 1;
	top: 0;
	transform: translateY(-100%);
	background-color: $blue;
	width: 100%;
	&.-scrolled {
		opacity: 1;
		transform: translateY(0%);
		z-index: 1;
		background-color: $blue;
	}
}

.header-logo {
	flex: 0 0 100px;
	z-index: 6;

	img {
		display: block;
	}
}

.hamburger {
	z-index: 6;

	@include md-after {
		& {
			display: none;
		}
	}
}

.header-menu-body {
	list-style: none;
	text-align: center;
	padding-left: 0;
	margin-left: 0;

	@include md-before {
		& {
			visibility: hidden;
			opacity: 0;
			position: fixed;
			left: 0;
			right: 0;
			top: 0;
			overflow: hidden;
			padding: 15px;
			align-items: center;
			height: 100%;
			max-height: 100vh;
			z-index: 5;
			padding-top: 80px;
			width: 100%;
		}
	}

	.header-menu-list {
		opacity: 0;
		margin: 0;
		transition: all 0.9s;
		max-width: 700px;
		margin: 0 auto;
		@include md-after {
			& {
				opacity: 1;
				max-width: inherit;
			}
		}
	
		&.-open {
			opacity: 1;
			transition: all 0.9s;
		}
	}

	@include md-after {
		& {
			width: auto;
			display: flex;
			justify-content: space-between;
			opacity: 1 !important;
			display: block !important;
		}
	}

	&::before {
		@include md-before {
			& {
				content: "";
				position: absolute;
				left: 0;
				top: 0;
				width: 100%;
				height: 100%;
				background: rgb(255, 255, 255);
				transition: all 0.7s;
				border-radius: 50%;
				transform: translate(50%, -50%) scale(0);
			}
		}
	}

	&.-open {
		visibility: visible;
		opacity: 1 !important;

		&::before {
			transform: translate(50%, -50%) scale(3);
		}
	}

	ul {
		margin: 0;
	}

	li {
		display: block;
		padding: 0 8px;
		position: relative;

		@include md-before {
			& {
				margin-bottom: 1.5rem;
			}
		}

		@include md-after {
			& {
				display: inline-block;
				vertical-align: middle;
				padding: 0 10px;
				transition: opacity 0.15s linear;
			}
		}

		&.active > a::before {
			background: red;
			opacity: 1;
		}

		a {
			text-decoration: none;
			position: relative;

			&::before {
				content: "";
				height: 2px;
				position: absolute;
				bottom: -13px;
				background: transparent;
				border-radius: 5px;
				left: 0;
				right: 0;
				margin-left: 0;
				opacity: 0;
			}

			&:hover {
				@include md-after {
					& {
						color: rgb(250, 0, 0);
					}
				}
			}
		}

		a:hover::before {
			background: red;
			opacity: 1;
			transition: $trans;
		}
	}
}
