.subject-sorting-wrapper {
    display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	margin-bottom: 16px;
}

.subject-sorting {
	position: relative;
	cursor: pointer;
	max-width: 300px;
	flex: 1 0 auto;
	.subject-sorting-text {
		transition: $trans;
		border-radius: 8px;
		padding: 16px 10px;
		z-index: 1;
		color: #fff;
		font-size: 0.75rem;
		@include md-after {
			& {
				font-size: 1rem;
			}
		}
		span {
			font-weight: 700;
			font-size: 1rem;
		}
		
		&::before {
			content: '';
			position: absolute;
			right: 10px;
			top: 50%;
			width: 0px;
			height: 0px;
			border-style: solid;
			border-width: 12px 8px 0 8px;
			border-color: #fff transparent transparent transparent;
			transform: rotate(0deg) translateY(-50%);
			
		}
		&.active {
			&::before {
				border-width: 0 8px 12px 8px;
				border-color: transparent transparent #fff transparent;
			}
			background: rgba(255, 255, 255, 0.2);
		}

		&:hover {
			background: rgba(255, 255, 255, 0.1);
		}
		&:focus {
			background: rgba(255, 255, 255, 0.2);
		}
	}

	.subject-sorting-list {
		position: absolute;
		list-style: none;
		z-index: 1;
		margin: 0;
		border-radius: 8px;
		width: 100%;
		background: #3D3598;
		box-shadow: 0px 4px 15px #352E88;
		border-radius: 8px;
		color: #fff;
		
		li {
			transition: $trans;
			background: #3D3598;
			padding: 16px 10px;
			cursor: pointer;
			&:hover {
				background: rgba(255, 255, 255, 0.1);
			}
			&:first-child {
				border-radius: 8px 8px 0px 0px;
			}
			&:last-child {
				border-radius: 0px 0px 8px 8px;
			}
		}
	}

}
