.subject-form-wrapper {
	padding: 20px;
	position: fixed;
	height: 100%;
	left: 0;
	background: #342D83;
	z-index: 2;
	top: 0;
	transform: translateX(-100%);
	opacity: 0;
	transition: $trans;

	&.-active {
		transform: translateX(0%);
		opacity: 1;
	}

	.icon-close-form {
		width: 24px;
		height: 24px;
		position: absolute;
		right: 20px;
		z-index: 2;
		top: 20px;
		cursor: pointer;
		transform: rotate(45deg);
	}

	@include md-after {
		& {
			padding: 80px;
			max-width: 65%;
		}
	}

	@include lg-after {
		& {
			max-width: 45%;
		}
	}

	.form-group.-switch {
		margin-bottom: 0;
		margin-left: 15px;

	}

	.button {
		width: 100%;
		max-width: 100%;
		@include md-after {
			& {
				max-width: 138px;
			}
		}
	}
}

.success-add-subject {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    z-index: 1;
    position: absolute;
    left: 0;
    top: 0;
    background: #342d83;
    align-items: center;
	&.-closed {
		display: none;
	}


}

.success-add-text {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    font-weight: 700;
    font-size: 1.5rem;
    text-align: center;
	svg {
		width: 100%;
		margin-bottom: 20px;
		height: 24px;
	}
}

