.mfp-hide {
	display: none !important;
}

div#swal2-html-container > .mfp-hide {
	display: block !important;
}

.swal2-html-container {
	margin: 0 !important;
	background-color: #fff;
}

body.swal2-shown:not(.swal2-no-backdrop):not(.swal2-toast-shown) {
	height: inherit !important;
}

.swal2-popup.swal2-modal.swal2-icon-success.swal2-show {
	padding: 25px;
}

.popup-form-title {
	font-size: 2em;
	font-weight: 500;
	margin-bottom: 20px;
}

.form-container {
	padding: 20px;

	@include lg-after {
		& {
			padding: 50px;
		}
	}
}
.swal2-image {
	margin: 0 !important;
	width: 100%;
	object-fit: contain;
	height: auto;
}

.swal2-close:focus {
	box-shadow: none !important;
}
